*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.main {
	padding: 20px;
	min-height: 100%;
	display: grid;
	grid-template-rows: 160px 1fr;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 25px;
}

.reset {
	width: min(250px, 700px);
	background-color: darkcyan;
	color: aliceblue;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 400;
	border: none;
	border-radius: 7px;
	letter-spacing: 10px;
	padding: 20px 15px;
	align-self: center;
}

.field {
	width: min(100%, 600px);
	aspect-ratio: 1;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 10px;
	margin: auto;
	background-color: darkslateblue;
}

.cell {
	appearance: none;
	border: solid 1px transparent;
	background-color: white;
	cursor: pointer;
	position: relative;
	border-radius: 0px;
	overflow: hidden;
}

.cell:checked::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: 80%;
	background-position: center;
	background-repeat: no-repeat;
}

.cell.cross:checked::after {
	background-image: url(/image/cross.svg);
}

.cell.circle:checked::after {
	background-image: url(/image/circle.svg);
}

.cell:disabled {
	pointer-events: none;
}

@media (width > 750px) {
	.field {
		gap: 25px;
	}
}
